body {
    background-color: black;
    color:rgb(154, 194, 154);
    font-family: sans-serif;
    font-size:x-large;
}

#menu {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height:50vh;
}
input, select {
/*    appearance: none; */
    font-size: inherit;
    background-color: rgb(53, 53, 53);
    color:white;
}

label[fortype="range"] {
    width: 20vh;
    display:inline-block;
}

#dir input {
    width:8vh;
}

#header {
    text-align: center;

}

.hinweis {
    background-color: #220500;
    border-radius: 1vh;
    border-style: inset;
    border-color: coral;
    padding:2vh;
    font-size: large;
}

a {
    color : rgb(79, 198, 238);
}